<div class="panel panel-info">
  <div class="panel-heading">Sign up!</div>
    <div class="panel-body">
      <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <form class="form-horizontal" role="form">
      
          <div class="form-group">
            <label><h4>Sign Up</h4></label>
            <input type="email" class="form-control" placeholder="email" ng-model="user.email">
            <label></label>
            <input type="password" class="form-control" placeholder="password" ng-model="user.password">
            <input type="password" class="form-control" placeholder="Repeat password" ng-model="user.password2">
            <input type="text" class="form-control" placeholder="username" ng-model="user.username">

          </div>
               <button class="btn btn-default" ng-click="register()">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>