/**
 * mywidget
 * --------------------------------------------------
 */
.mywidget {
  position: relative;
  display: inline-block;
  padding: 7px 7px;
  cursor: pointer; }
  .mywidget input:before, .mywidget .mywidget-icon:before {
    border-color: #4a87ee; }
  .mywidget input:checked:before, .mywidget input:checked + .mywidget-icon:before {
    background: #4a87ee; }
  .mywidget.mywidget-light input:before, .mywidget.mywidget-light .mywidget-icon:before {
    border-color: #ddd; }
  .mywidget.mywidget-light input:checked:before, .mywidget.mywidget-light input:checked + .mywidget-icon:before {
    background: #ddd; }
  .mywidget.mywidget-stable input:before, .mywidget.mywidget-stable .mywidget-icon:before {
    border-color: #b2b2b2; }
  .mywidget.mywidget-stable input:checked:before, .mywidget.mywidget-stable input:checked + .mywidget-icon:before {
    background: #b2b2b2; }
  .mywidget.mywidget-positive input:before, .mywidget.mywidget-positive .mywidget-icon:before {
    border-color: #4a87ee; }
  .mywidget.mywidget-positive input:checked:before, .mywidget.mywidget-positive input:checked + .mywidget-icon:before {
    background: #4a87ee; }
  .mywidget.mywidget-calm input:before, .mywidget.mywidget-calm .mywidget-icon:before {
    border-color: #43cee6; }
  .mywidget.mywidget-calm input:checked:before, .mywidget.mywidget-calm input:checked + .mywidget-icon:before {
    background: #43cee6; }
  .mywidget.mywidget-assertive input:before, .mywidget.mywidget-assertive .mywidget-icon:before {
    border-color: #ef4e3a; }
  .mywidget.mywidget-assertive input:checked:before, .mywidget.mywidget-assertive input:checked + .mywidget-icon:before {
    background: #ef4e3a; }
  .mywidget.mywidget-balanced input:before, .mywidget.mywidget-balanced .mywidget-icon:before {
    border-color: #66cc33; }
  .mywidget.mywidget-balanced input:checked:before, .mywidget.mywidget-balanced input:checked + .mywidget-icon:before {
    background: #66cc33; }
  .mywidget.mywidget-energized input:before, .mywidget.mywidget-energized .mywidget-icon:before {
    border-color: #f0b840; }
  .mywidget.mywidget-energized input:checked:before, .mywidget.mywidget-energized input:checked + .mywidget-icon:before {
    background: #f0b840; }
  .mywidget.mywidget-royal input:before, .mywidget.mywidget-royal .mywidget-icon:before {
    border-color: #8a6de9; }
  .mywidget.mywidget-royal input:checked:before, .mywidget.mywidget-royal input:checked + .mywidget-icon:before {
    background: #8a6de9; }
  .mywidget.mywidget-dark input:before, .mywidget.mywidget-dark .mywidget-icon:before {
    border-color: #444; }
  .mywidget.mywidget-dark input:checked:before, .mywidget.mywidget-dark input:checked + .mywidget-icon:before {
    background: #444; }

.mywidget.mywidget-input-hidden input {
  display: none !important; }

.mywidget input, .mywidget-icon {
  position: relative;
  width: 28px;
  height: 28px;
  display: block;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none; }
  .mywidget input:before, .mywidget-icon:before {
    display: table;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 28px;
    background: #fff;
    content: ' ';
    transition: background-color 20ms ease-in-out; }

.mywidget input:checked:before, input:checked + .mywidget-icon:before {
  border-width: 2px; }

.mywidget input:after, .mywidget-icon:after {
  -webkit-transition: opacity 0.05s ease-in-out;
  -moz-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 30%;
  left: 26%;
  display: table;
  width: 15px;
  height: 10.33333px;
  border: 3px solid #fff;
  border-top: 0;
  border-right: 0;
  content: ' ';
  opacity: 0; }

.grade-c .mywidget input:after, .grade-c .mywidget-icon:after {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  top: 3px;
  left: 4px;
  border: none;
  color: #fff;
  content: '\2713';
  font-weight: bold;
  font-size: 20px; }

.mywidget input:checked:after, input:checked + .mywidget-icon:after {
  opacity: 1; }

.item-mywidget {
  padding-left: 58px; }
  .item-mywidget.active {
    box-shadow: none; }

.item-mywidget .mywidget {
  position: absolute;
  top: 50%;
  right: 7.5px;
  left: 7.5px;
  z-index: 3;
  margin-top: -21px; }
