$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';



/* Space out content a bit */
body {}


textarea {
    resize: vertical;
}
.ff {
    display: block;
    text-align: center !important;
    font-size: 24px;
    font-style: bold;
}

.faded {
    color: #aaa;
}
.gravatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.platform label {
    padding-left: 0px;
    padding-right: 0px;
}

//LOGO background image on navbar
a.navbar-brand {
  background: url(/../../images/OM_logo.png) no-repeat 6px center;
  width: 140px !important;
  min-height: 100px;
  display: block;

}


.project-item {
    font-size: 24px;
    margin-top: 15px;
    border: 1px solid #4486f8;
    background-color: #4486f8;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
}

.toDelete {
    font-size: 18px;
    text-align: center;
    border: 1px solid red;
    background-color: red;

}

.buttongroup {
    margin-top: 10px;
}

.project-item .info {
   cursor: pointer; 
}

.project-item .del{
    cursor: pointer;
}

.projectinfo {
    color: #ffffff;
}


p.welcome {
    color: #ffffff;
    font-size: 1.2em;

}
.auth.container {
    margin-top: 2.25%;
}

.userinfo.container {
    margin-top: 10px;
}

span.signup {
    font-size: 10px;
    text-decoration: underline;
}


//display icons inside login inputs
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 13px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 10px;
    padding: 13px 12px;
   // margin-right: 20px;
    pointer-events: none;
}



//directive styling for customcheckbox
.customcheckbox {

    cursor: pointer;
    margin: 0px !important;
    padding: 5px;
    text-align: center;
}

.customcheckbox input {
    -webkit-appearance: none;
}

.customcheckbox i {
    margin: 0px;
    min-width: 40px;
    min-height: 40px;
    font-size: 36px;
    

}


div.panel-heading {
min-height: 70px;

}

.editBtn {
//padding: 5px;
width: 50px;
height: 50px;
padding: 0px !important;
}

.editBtn i {   
    min-height: 30px;
    min-width: 30px;
    margin: 0px;
    font-size: 28px;
    //margin: -2px;
}





@media screen and (max-width:768px){
.navbar-form {
    margin:0;
}

.nav-content {
    margin: 0;
}

.log-row {
    overflow: hidden;
}

.nav {
    //padding-left:15px;
}


.btn-addon span.signup {
    position: relative;
    top: 25px;
    left:53px;
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
}


}

//full width row implementation from http://stackoverflow.com/questions/14263307/full-width-layout-with-twitter-bootstrap
@media screen and (min-width: 1600px) {
    .container {
        max-width: (1600px);
    }
}
@media screen and (min-width: 1900px) {
    .container {
        max-width: (1900px);
    }
}

label.customcheckbox {
       margin-right: 10px;
}







/*
// Responsive: Portrait tablets and up 
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    // Remove the padding we set earlier 
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    // Space out the masthead 
    .header {
        margin-bottom: 30px;
    }
    // Remove the bottom border on the jumbotron for visual effect 
    .jumbotron {
        border-bottom: 0;
    }
}
*/