<div class="panel panel-info">
  <p class="panel-heading">Welcome home!</p>
    <div class="panel-body">
      <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      
        <form ng-show="showBasicInputs" name="init" novalidate>
          <div class="row well">
            <div class="form-group" ng-class="{ 'has-error' : init.title.$invalid && title.validate}">
              <label><h4>Give a title to your Project</h4></label>
              <input type="text" name="title" ng-model="initProject.title"  class="form-control" required  ng-minlength="5" ng-blur="title.validate=true">
              <p ng-show="init.title.$error.required && title.validate" class="help-block">A title for your project is required.</p>
              <p ng-show="init.title.$error.minlength && !init.title.$pristine && title.validate" class="help-block">The project title must be at least 5 characters long.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : init.client.$invalid && client.validate }">
              <label><h4>Name the client for this Project</h4></label>
              <input type="text" name="client" ng-model="initProject.client"  class="form-control" ng-change="uppercase()" required ng-blur="client.validate=true">
              <p ng-show="init.client.$error.required && client.validate" class="help-block">Your project must have a client.</p>
            </div>
            <div class="row text-center">
              <button class= "btn btn-success" ng-disabled="init.$invalid" ng-click="newProjectItem()">Create</button>
              <button class="btn btn-danger" ng-click="showBasicInputs = !showBasicInputs">Cancel</button>
            </div>
          </div>
        </form>



        <div class="project-list" ng-hide="showBasicInputs">

          <div class="row well form-group">
              <div class="right-inner-addon ">
                <i class="glyphicon glyphicon-search"></i>
                <input type="search" class="form-control" placeholder="Search" ng-model="searchText">
                <hr />
                <button class="btn btn-success center-block"  ng-click="showBasicInputs = !showBasicInputs" ng-hide="showBasicInputs">New Project</button>
              </div>
          </div>


          <div class="row" ng-repeat="project in projectlist | orderByPriority | filter:searchText"
                ng-class="!confirmDeletion ? 'project-item' : 'project-item toDelete'">
              <div ng-class="!confirmDeletion ? 'pull-left col-sm-11 col-md-11 col-lg-11' : 'col-sm-12 col-md-12 col-lg-12'">
                <span class="info" ng-hide="confirmDeletion" ng-click="open(project.projectId)">
                  {{project.client}} - {{project.title}}
                </span>
                <div ng-hide="!confirmDeletion">
                  <div class="row">Are you sure you want to delete this project?</div>
                  <div class="row">{{project.client}} - {{project.title}}</div> 
                  <div class="row buttongroup">
                    <button class="btn btn-default" 
                            ng-click="deleteProject(project.projectId)">
                            Yes
                    </button>
                    <button class="btn btn-default" 
                            ng-click="confirmDeletion = !confirmDeletion">
                            No
                    </button>
                  </div>
                </div>
              </div>
            
              <div class="col-sm-1 col-md-1 col-lg-1 pull-right" ng-click= "confirmDeletion = !confirmDeletion" ng-hide="confirmDeletion">
                <span class="del"><i class="glyphicon glyphicon-remove-circle"></i></span>
              </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
