<div class="panel panel-info">
  <p class="panel-heading">Creating your new Project!</p>
    <div class="panel-body">
      <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <form class="form-horizontal" role="form" name="step1" novalidate>
      
          <div class="form-group" ng-class="{ 'has-error' : step1.title.$invalid && !step1.title.$pristine }">
            <label><h4>Give a title to your Project</h4></label>
            <input type="text" name="title" ng-model="project.title" ng-change="persist()" class="form-control" required>
            <p ng-show="step1.title.$invalid && !step1.title.$pristine" class="help-block">Project title is required.</p>
          </div>
          <div class="form-group">
            <label><h4>What company is this project for?</h4></label>
            <input type="text" ng-model="project.client" ng-change="uppercase(); persist()" class="form-control" required>
          </div>
          <div class="form-group">
            <label><h4>Provide a short description of the project</h4></label>
            <textarea ng-model="project.specs.desc" ng-change="persist()" class="form-control">
            </textarea>
          </div>
          <div class="form-group">
            <label><h4>What is the goal of the app?</h4></label>
            <textarea ng-model="project.specs.goal" ng-change="persist()" class="form-control">
            </textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>