<div class="panel panel-info">
  <p class="panel-heading">Select Platforms/Versions you wish to support for this app</p>
  <div class="panel-body">









        <div ng-repeat="uiFormFactor in uiFormFactors" class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <label ng-class="uiFormFactor.isSelected ? 'ff':'ff faded'">
              <input type="checkbox"
                   ng-model="uiFormFactor.isSelected"
                   ng-change="updateFormFactor(uiFormFactor)">
            {{uiFormFactor.name}}
            </label>



          <div ng-show="uiFormFactor.isSelected">
            <div ng-repeat="uiPlatform in uiFormFactor.uiPlatforms" class="row">
              <div ng-class="uiPlatform.isSelected ? 'panel panel-success':'panel panel-danger'">


                <div class="panel-heading platform">
                  <custom-checkbox checked="glyphicon glyphicon-check" 
                                   unchecked="glyphicon glyphicon-unchecked"
                                   class="col-sm-1 col-md-1 col-lg-1 pull-left"
                                   
                       
                                   ng-model="uiPlatform.isSelected"
                                   ng-change="updatePlatform(uiFormFactor, uiPlatform)">
                  </custom-checkbox>

                  <h4 class="col-sm-6 col-md-6 col-lg-6 pull-left">
                    {{uiPlatform.name}} <span ng-hide="!uiPlatform.minVersion || !uiPlatform.isSelected">(version: {{uiPlatform.minVersion}}+)</span>
                  </h4>
                  
                  <button class="btn editBtn alert-success col-sm-1 col-md-1 col-lg-1 pull-right" 
                          ng-show="uiPlatform.minVersion"
                          ng-hide="!uiPlatform.isSelected || uiPlatform.isSelected && !uiPlatform.minVersion"
                          ng-click="uiPlatform.minVersion=!uiPlatform.minVersion">
                    
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                </div>

                <ul class="list-group" ng-show="uiPlatform.isSelected">
                  <li class="list-group-item" 
                      ng-repeat="uiVersion in uiPlatform.versions"
                      ng-hide="uiPlatform.minVersion">

                    <label>
                      <input type="radio"
                             ng-model="uiPlatform.minVersion"
                             ng-value="uiVersion"
                             ng-change="updateVersion(uiFormFactor, uiPlatform)">
                      {{uiVersion}} 
                    </label>

                  </li>
                </ul>


              </div>
            </div>
          </div>

        <hr />
        </div>

  </div>
</div>


