<div class="panel panel-info">
  <p class="panel-heading">custom checkbox testing </p>
  <div class="panel-body">
    <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="panel-heading">

        <div class="form-group">
          <label><h4>Project Deadline</h4></label>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="EEEE MMMM d, y" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2018-06-22'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>  

        <div class="form-group">
          <label><h4>Project Budget</h4></label>
          <input type="text" ng-model="texts.budget" class="form-control">
        </div>

        <button ng-click="genDoc()">Generate Doc</button>
  
      </div>
    </div>
  </div>
</div>