<!-- NAVIGATION -->
    <div class="container" ng-controller="NavCtrl">
      <h3>Hello, {{currentUser.name}}</h3>
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{texts.company}} - {{texts.title}}</a>
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
        
          <ul class="nav navbar-nav">
            <li ng-class="{active: $state.includes('home')}"><a ui-sref="home">home</a></li>
            <li ng-class="{active: $state.includes('screen1')}"><a ui-sref="screen1">screen 1</a></li>
            <li ng-class="{active: $state.includes('screen2')}"><a ui-sref="screen2">screen 2</a></li>
            <li ng-class="{active: $state.includes('screen3')}"><a ui-sref="screen3">screen 3</a></li>
            <li ng-class="{active: $state.includes('screen4')}"><a ui-sref="screen4">screen 4</a></li>
            <li><button  ng-controller='LoginCtrl' ng-click="logout()" type="button" class="pull-right btn btn-default navbar-btn">Log out</button></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </nav>
    </div>

    <div class="container">
        <div ui-view="content"></div>
    </div>
