<div class="userinfo container col-sm-10 col-md-10 col-lg-10">
    <div class="row">


      <div class="col-sm-1 col-md-1 col-lg-1">
        <a href="#/users/{{ currentUser.username }}" class="gravatar">
           <img class="gravatar" ng-src="http://www.gravatar.com/avatar/{{ currentUser.md5_hash }}" />
        </a>
      </div>

      <div class="col-sm-11 col-md-11 col-lg-11">
        <p class="welcome">
           Welcome, {{ currentUser.username }}
           <button type="button" class="logout btn btn-default pull-right" ng-click="logout()">Log out</button>
        </p>

        <div ui-view="projectinfo" class="projectinfo"></div>
      </div>


    </div>
</div>