//http://stackoverflow.com/questions/14846836/insert-an-angular-js-template-string-inside-an-element

<html>
<head>
<title>{{title}}</title>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<style type="text/css">
body {
margin: 2.5cm;
}
@media print {
	@page {
		margin: 2.5cm
	}
	@page :first {
		margin-top: 10cm;
	}
	@page :left {
		margin-left: 3cm;
		margin-right: 2cm;
	}
	@page :right {
		margin-left: 2cm;
		margin-right: 3cm;
	}
}
p, h1, h2 {
	font-family: 'Roboto', 'sans-serif';
}
h1, h2 {
	page-break-after: avoid;
}
h1 {
	page-break-before: always;
	color: gray;
	font-size: 24;
}
h2 {
	color: #66f;
	text-transform: uppercase;
	font-size: 16;
}
p {
	text-align: justify;
	orphans: 3;
	widows: 2;
	font-size: 12;
}
</style>
</head>
<body>

<div class="page-title">
	<h1>ONTOMOBILE</h1>
	<h1>{{title}}</h1>
</div>

<div>
	<h1>Non-disclosure Agreement</h1>
	<p>
		This document contains confidential information and trade secrets belonging to ONTOMOBILE and delivered solely to enable to make an assessment of the offer.
		The recipient agrees to treat this information as confidential and not to disclose or reproduce, except for those directly responsible for the proper evaluation of the contents thereof, without the express consent and consensus of ONTOMOBILE.
	</p>
	<p>
		ONTOMOBILE reserves the right to recover copies of this document when the assessment has been completed.
	</p>

	<div class="footer">
		<p>
			If you have any doubts or comments relating to this document, please contact:
		</p>
		<p>
			NATIVECODE
			Pallars, 99, Oficina 13
			08018 – Barcelona
			+34 902 908 735
		</p>
	</div>
</div>


{{#with specs}}
<h1>Introduction</h1>

<h2>Purpose of the project</h2>
<p>The user business or background of the project effort, goals of the project...</p>
<p>{{appGoal}}</p>

<h2>The stakeholders</h2>
<p>Client, customer, user priorities, user participation...</p>


<h1>Mandated Constraints</h1>

<h2>Platforms</h2>
<p>iOS, android, WP, supported versions…</p>
<ul>
{{#each platforms}}
<li>{{platform._id}} {{version.userReadable}}</li>
{{/each}}
</ul>

<h2>Form factors</h2>
{{#if formFactors}}
<ul>
{{#each formFactors}}
<li>{{this}}</li>
{{/each}}
</ul>
{{else}}
<p>The client hasn't indicated any preference for the form factors yet (Phone, tablet, web...)</p>
{{/if}}

<h2>Budget</h2>
<p>Max budget?</p>
{{#if budget}}
<p>The client has an initial budget of {{budget}}€.</p>
{{else}}
<p>The client hasn't indicated an initial budget restriction.
{{/if}}

<h2>Schedule</h2>
<p>Critical delivery dates?</p>
{{#if deadline}}
<p>The deadline for the project is {{prettifyDate deadline}}.</p>
{{/if}}

<h2>Partners</h2>
<p>Forced external partners for specific parts of the project?</p>


<h1>Non-functional Requirements</h1>

<h2>Look &amp; feel</h2>
<p>Styles, graphics</p>

<h2>Usability and humanity</h2>
<p>Localization, accessibility, learning, age and skills of customers</p>

<h2>Performance</h2>
<p>Speed and latency, precision, accuracy, reliability, robustness, tolerance, capacity, scalability, extensibility, longevity</p>

<h2>Operational and environmental</h2>
<p>Agile, test, ...</p>

<h2>Maintainability and support</h2>
<p>Maintenance, supportability, adaptability</p>

<h2>Security</h2>
<p>Access, integrity, privacy, audit, immunity</p>

<h2>Cultural</h2>
<p>Cultural requirements</p>

<h2>Legal</h2>
<p>Compliance, standards</p>


<h1>Naming conventions and terminology</h1>
<p>Definitions of All Terms, including Acronyms, Used by Stakeholders involved in the Project</p>


<h1>Relevant Facts and Assumptions</h1>
<p>Relevant facts, business rules, assumptions</p>


<h1>Project Context</h1>

<h2>The scope of the work</h2>
<p>The current situation, the context of the work, work partitioning, specifying a business use case (BUC)</p>

<h2>Business data model and data dictionary</h2>
<p>Business data model, data dictionary</p>

<h2>Open issues</h2>
<p>Open issues</p>

<h2>Off-the-shelf solutions</h2>
<p>Ready-Made products, reusable components, products that can be copied</p>

<h2>New problems</h2>
<p>Effects on the current environment, effects on the installed systems, potential user problems, limitations in the anticipated implementation environment that may inhibit the new product, follow-up problems</p>


<h1>The Scope of the Product</h1>

<h2>Use case list</h2>
<p>Use case list, use case diagram, use case description</p>

<h2>Use case diagram</h2>
<p>Use case list, use case diagram, use case description</p>

<h2>Functional requirements</h2>
<p>What the product has to do or what processing actions it is to take.</p>


<h1>Project Planning</h1>

<h2>Tasks</h2>
<p>...</p>

<h2>Deliverables</h2>
<p>...</p>

<h2>Risks</h2>
<p>...</p>


<h1>Economic Proposal</h1>

<h2>Costs</h2>
<p>...</p>

<h2>Payments</h2>
<p>...</p>


<h1>Project Deployment &amp; Future</h1>

<h2>Migration to the new product</h2>
<p>Requirements for migration to the new product, data that has to be modified or translated for the new system</p>

<h2>User documentation and training</h2>
<p>User documentation requirements, training requirements</p>

<h2>Waiting room</h2>
<p>Requirements that are beyond the sophistication of, or time allowed for, the current release of the product.</p>

<h2>Ideas for innovation</h2>
<p>Potential solutions to problems identified during the requirements gathering process</p>

{{/with}}
</body>
</html>
