<div class="navi container  col-md-10 col-lg-10">
  <div class="row">

        <ul class="nav navbar-nav pull-right">
            <li ng-class="{active: $state.includes('step1')}"><a ui-sref="step1">step 1</a></li>
            <li ng-class="{active: $state.includes('step2')}"><a ui-sref="step2">step 2</a></li>
            <li ng-class="{active: $state.includes('step3')}"><a ui-sref="step3">step 3</a></li>
      </ul>

  </div>
</div>
