<!-- NAVIGATION -->
      <nav class="navbar navbar-default" role="navigation">

        <div class="container">

          <div class="row">


          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#"></a>
          </div>
        


          <!-- Collect the nav links, forms, and other content for toggling -->

          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
              <div ui-view="headerView"></div>
              <div ui-view="headerNav"></div>
            </div>
          </div> <!-- /.navbar-collapse -->


 
       </div>

      </div>

    </nav>


    <div class="container">
        <div ui-view="content"></div>
    </div>
