<div class="panel panel-info">
	<div class="panel-heading">Select Platforms/Versions you wish to support for this app</div>
		<div class="panel-body">
			<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<div ng-repeat="platform in platforms" class="row">
				  <div ng-class="platform.selected ? 'panel panel-success':'panel panel-danger'">
				  	<div class="panel-heading platform">



				  		  <custom-checkbox ng-model= "platform.selected" 
				  		  							ng-click="persistPlatformChanges(platform)"
				  		  							checked="glyphicon glyphicon-check" 
				  		  							unchecked="glyphicon glyphicon-unchecked"
				  		  							class = "col-sm-1 col-md-1 col-lg-1 pull-left">							
				  		  </custom-checkbox>

				 
				   			<h4  class="platformId col-sm-6 col-md-6 col-lg-6 pull-left">
					        {{platform._id}}<br/>{{platform.msg}}
								</h4>

	
							<button class="btn editBtn alert-success col-sm-1 col-md-1 col-lg-1 pull-right"
											ng-click="showVersions(platform)"
											ng-show="platform.selected && platform.minVersion && !platform.showVersions">
											<i class="glyphicon glyphicon-pencil"></i>
							</button>
						</div>


				   	<ul class="list-group">
				   		<li class="list-group-item" 
				   				ng-repeat="version in platform.versions"
				   				ng-show="platform.showVersions">
				   			<label>
				    			<input type="radio"        
				        			   ng-model="platform.minVersion"
				      	    	   ng-value="version._id"
				    	        	 ng-name="{{platform._id}}"
				    	        	 ng-change="persistVersionChanges(platform)">
				   	      {{version.userReadable}} 
								</label>
							</li>
						</ul>

				</div>
			</div>
		</div>
	</div>
</div>


