	<div class="well">
		<p>The content of the panel below, is rendered based on a <b>hardcoded</b> generic template. We need to figure out
			how to pass variables into it</p>
	</div>	

<div class="panel panel-info">
	<div class="panel-heading">Experimenting...</div>
		<div class="panel-body" ng-model="template">
			<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<form class="form-horizontal" role="form" ng-include="template.url">

					



				</form>
			</div>
		</div>
	</div>
</div>


