<div class="panel panel-info">
	<div class="panel-heading">Creating your new Project!</div>
		<div class="panel-body">
			<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<form class="form-horizontal" role="form">
			
			    <div class="form-group">
			      <label><h4>Give a title to your Project</h4></label>
			      <input type="text" ng-model="project.title" ng-change="persist()" class="form-control">
			    </div>
			    <div class="form-group">
			      <label><h4>What company is this project for?</h4></label>
			      <input type="text" ng-model="project.client" ng-change="persist()" class="form-control">
			    </div>
			    <div class="form-group">
			      <label><h4>Provide a short app description</h4></label>
			      <textarea ng-model="project.specs.desc" ng-change="persist()" class="form-control">
			      </textarea>
			    </div>
			    <div class="form-group">
			      <label><h4>What is the goal of the app?</h4></label>
			      <textarea ng-model="project.specs.goal" ng-change="persist()" class="form-control">
			      </textarea>
			    </div>
							<button ng-click="showProj()">show</button>
				</form>
			</div>
		</div>
	</div>
</div>