<div class="panel panel-info">
  <div class="panel-heading">Sign up!</div>
    <div class="panel-body">
      <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <form class="form-horizontal" role="form">
      
          <div class="form-group">
            <label><h4>Sign Up</h4></label>
            <input type="email" class="form-control" placeholder="email" ng-model="data.email">
            <label></label>
            <input type="password" class="form-control" placeholder="password" ng-model="data.password">
            <input type="password" class="form-control" placeholder="Repeat password" ng-model="data.password2">
            <input type="text" class="form-control" placeholder="Full Name" ng-model="data.fullname">

          </div>
               <button class="btn btn-default" ng-click="signup()">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>