
<div class="auth container col-sm-10 col-md-10 col-lg-10">
    <div class="row">
    
        <form class="navbar-form navbar-right" role="search">

            <div class="form-group">
                <div class="left-inner-addon ">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="email" class="form-control" placeholder="E-mail" ng-model="user.email" required>
                </div>
            </div>

            <div class="form-group">
                <div class="left-inner-addon ">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
                </div>
            </div>
            
                    <button type="button" class="btn btn-success" ng-click="login()">Login</button>
                    <button type="button" class="btn btn-default" ng-click="signup()"><span class="signup">Sign up</span></button>


        </form>
    </div>
</div>
<div><p class="help-block" ng-show="error">{{error}}</p></div>
